/* ==|== primary styles =====================================================
   Author: Carlo Cruz
   ========================================================================== */


#sequencer {
	border: 1px solid #000;
	background-image: url('../img/Kettlebell-swing-sequence.jpg');
	margin: 10px auto;
}

#sequencer div {
	opacity: 0.2;
	background-color: #0000ee;
}

#sequencer div:hover {
	opacity:0.4;
}

